.SiteWrapper{
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
  padding: 0 25px;
}
.CountryNav{
  display: flex;
  text-align: center;
}

.CountryNav a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding: 5px 10px;
  transition: border-bottom 200ms ease;
}
.CountryNav a:hover{
  border-bottom: 1px solid black;
}
.CountryNav .active{
  color: blue;
}
.CountryImage img{
  padding-top: 25px;
  padding-bottom: 10px;
  max-width: 780px;
  flex-basis: 50%;

}

.Home{
  max-width: 800px;
  margin: 0 auto;
  text-transform: capitalize;
}

.Home h2{
  text-align:center;
}
