.SiteWrapper{
  max-width: 1080px;
  margin: 0 auto;
  width: 100%;
  padding: 0 25px;
}
.CountryNav{
  display: flex;
  text-align: center;
  align-items: center;
}

.CountryNav a{
  color: black;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  display: block;
  padding: 5px 10px;
  transition: border-bottom 200ms ease;
}
.CountryNav a:hover{
  border-bottom: 1px solid black;
}

.CountryImage img{
  padding-top: 25px;
  padding-bottom: 10px;
  max-width: 780px;
  flex-basis: 50%;

}

.Home{
  max-width: 800px;
  margin: 0 auto;
  text-transform: capitalize;
}

.Home h2{
  text-align:center;
}

.CountryInfo{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.CountryInfo_Data{
  flex-basis: 40%;
}
.CountryInfo_Description{
  flex-basis: 60%;
}

.Header{
  align-items: center;
  text-align: center;
  justify-content: space-between;

}